<a href="https://colab.research.google.com/github/romy-vos/Big-Data-Optimization/blob/master/Data_Aggregation_15_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://github.com/AmsterdamUMC/AmsterdamUMCdb/blob/master/img/logo_amds.png?raw=1" alt="Logo" width=128px/>

# VUmc Research Project - Reinforcement Learning for Sepsis Prevention
# Data Aggregation

AmsterdamUMCdb version 1.0.2 March 2020  
Copyright &copy; 2003-2022 Amsterdam UMC - Amsterdam Medical Data Science

## 1. Set up the environment variables for Colab and GoogleBigQuery to access

In [1]:
import os
from google.colab import auth
from IPython.display import display
from google.colab import drive
import os
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from IPython.display import display
import numpy as np
import warnings
warnings.filterwarnings('ignore')
pd.set_option('use_inf_as_na', True)

drive.mount('/content/drive', force_remount=True)
os.chdir('/content/drive/MyDrive/MLRFH')
 
#sets dateset
PROJECT_ID = 'rl-aki'
DATASET_ID = 'version1_0_2'
LOCATION = 'eu'
 
#all libraries check this environment variable, so set it:
os.environ["GOOGLE_CLOUD_PROJECT"] = PROJECT_ID
 
auth.authenticate_user()
print('Authenticated')

Mounted at /content/drive
Authenticated

## 2. Define Preprocessing Functions

In [45]:
#Some preprocessing functions 

def to_cols(data):

  grouped = data.pivot_table(index=['admissionid', 'time'], 
          columns=['item'], values='value')

  return grouped
  

def to_cols_action(data):

  grouped = data.pivot_table(index=['admissionid', 'time'], 
            columns=['item'], values='administered')

  return grouped

def remove_outliers(data):
  #delete outliers
  data = data.reset_index() #return to single index

  #select outlier cols
  all_cols = ['Kreatinine', 'Kreatinine (bloed)', 'KREAT enzym. (bloed)',
       'UrineSupraPubis', 'UrineIncontinentie', 'Nefrodrain re Uit',
       'Nefrodrain li Uit', 'UrineSpontaan', 'UrineUP', 'UrineSplint Re',
       'UrineSplint Li', 'UrineCAD', 'Chloor (bloed)', 'Natrium (bloed)',
       'Kalium (bloed)', 'HCO3', 'Natrium', 'Natrium Astrup',
       'Kalium Astrup', 'Chloor Astrup', 'Chloor', 'Kalium',
       'Act.HCO3 (bloed)', 'Na (onv.ISE) (bloed)', 'K (onv.ISE) (bloed)',
       'Cl (onv.ISE) (bloed)', 'Niet invasieve bloeddruk gemiddeld',
       'ABP gemiddeld II', 'ABP gemiddeld']
  
  # Natrium
  data['Natrium'][(data['Natrium'] < 65.) & (data['Natrium'] > 165.)] = np.nan
  data['Natrium (bloed)'][(data['Natrium (bloed)'] < 65.) & (data['Natrium (bloed)'] > 165.)] = np.nan
  data['Natrium Astrup'][(data['Natrium Astrup'] < 65.) & (data['Natrium Astrup'] > 165.)] = np.nan
  data['Na (onv.ISE) (bloed)'][(data['Na (onv.ISE) (bloed)'] < 65.) & (data['Na (onv.ISE) (bloed)'] > 165.)] = np.nan
  
  # Mean Blood Pressure
  data['ABP gemiddeld'][(data['ABP gemiddeld'] < 30.) & (data['ABP gemiddeld'] > 165.)] = np.nan
  data['Niet invasieve bloeddruk gemiddeld'][(data['Niet invasieve bloeddruk gemiddeld'] < 30.) & (data['Niet invasieve bloeddruk gemiddeld'] > 165.)] = np.nan
  data['ABP gemiddeld II'][(data['ABP gemiddeld II'] < 30) & (data['ABP gemiddeld II'] > 165)]

  # Kalium
  data['Kalium'][data['Kalium'] > 12.] = np.nan
  data['Kalium (bloed)'][data['Kalium (bloed)'] > 12.] = np.nan
  data['Kalium Astrup'][data['Kalium Astrup'] > 12.] = np.nan
  data['K (onv.ISE) (bloed)'][data['K (onv.ISE) (bloed)'] > 12.] = np.nan

  # Kreatinine
  data['Kreatinine'][data['Kreatinine'] < 30.] = np.nan
  data['Kreatinine (bloed)'][data['Kreatinine (bloed)'] < 30.] = np.nan
  data['KREAT enzym. (bloed)'][data['KREAT enzym. (bloed)'] < 30.] = np.nan

  # Bicarbonate
  data['HCO3'][(data['HCO3'] < 5.) & (data['HCO3'] > 45.)] = np.nan
  data['Act.HCO3 (bloed)'][(data['Act.HCO3 (bloed)'] < 5.) & (data['Act.HCO3 (bloed)'] > 45.)] = np.nan

  # Chloor
  data['Chloor'][(data['Chloor'] < 50.) & (data['Chloor'] > 200.)] = np.nan
  data['Chloor (bloed)'][(data['Chloor (bloed)'] < 50.) & (data['Chloor (bloed)'] > 200.)] = np.nan
  data['Chloor Astrup'][(data['Chloor Astrup'] < 50.) & (data['Chloor Astrup'] > 200.)] = np.nan
  data['Cl (onv.ISE) (bloed)'][(data['Cl (onv.ISE) (bloed)'] < 50.) & (data['Cl (onv.ISE) (bloed)'] > 200.)] = np.nan

  #make nans of all negative vals
  data[all_cols] = data[all_cols].applymap(lambda x: np.nan if x < 0 else x)
  return data


def remove_outliers_action(data):

  #delete outliers
  outliers = data.reset_index() #return to single index

  cols = ['Noradrenaline (Norepinefrine)', 'NaCl 0,45%/Glucose 2,5%']

  #select outlier cols
  data['Noradrenaline (Norepinefrine)'][data['Noradrenaline (Norepinefrine)'] > 10.] = np.nan
  data['NaCl 0,45%/Glucose 2,5%'][data['NaCl 0,45%/Glucose 2,5%'] > 500.] = np.nan
  

  data = data[cols].applymap(lambda x: np.nan if x < 0 else x)

  return data

def get_4h(data):
  #per patient, average the values in 4h timeslots

  data = data.sort_values('time')
  res = data.groupby([pd.Grouper('admissionid'),
                        pd.Grouper(key ='time', freq='4H')
                              
  ]).mean()

  return res

def get_aki(data):
  #per patient, take the first value in 4h timeslots

  data = data.sort_values('time')
  aki = data.groupby([pd.Grouper('admissionid'),
                        pd.Grouper(key ='time', freq='4H')
                              
    ]).first()

  return aki

def get_4h_urine(data):
  #per patient, average the values in 4h timeslots

  data = data.sort_values('time')
  res = data.groupby([pd.Grouper('admissionid'),
                        pd.Grouper(key ='time', freq='4H')
                              
  ]).sum()

  return res

def aggregate_col(data, colname):

  #create new columns with cumulative count for consecutive nans
  data['nancount'] = np.zeros(len(data))
  data['nancount'] = data[colname].groupby((data[colname].notnull()).cumsum()).cumcount()
                           
  #manually set first row to 1 if nan since this is excluded in cumsum/count from line before
  for i, v in enumerate(data[colname]):
    if i == 0:
      if np.isnan(v):
        data["nancount"] += 1
  
  #and all other ones +1, except non-nan values
  data["nancount"][data[colname] == np.nan] += 1

  #set non-null values as 0 for nancount
  data["nancount"] = np.where(~data[colname].isnull(), 0, data["nancount"])

  #if value is not nan, then use previous value + 1 to get total cumulative nan count including the non-nan value
  #this is the value we want to divide through to get the right value per hour

  group_val = pd.DataFrame(data[colname]).reset_index()[colname]
  group_count = pd.DataFrame(data["nancount"]).reset_index()["nancount"]

  for i, v in enumerate(group_count):

    if v == 0: #where no null values
 
      if (i != 0): #first row: do nothing
        if group_val[i] != 0: #value 0: do not divide
          if group_count[i-1] != 0: #value before is not missing: do nothing
          
            group_val[i] = group_val[i] / (group_count[i-1]) #otherwise: divide through nancount of row before
  

  #and then fill backwards and return
  return group_val.bfill()

def process_variables(data):

  # Sum Urine
  urine_cols = ['UrineCAD', 'UrineSupraPubis', 'UrineUP', 'UrineSpontaan', 'UrineIncontinentie', 'UrineSplint Re', 'UrineSplint Li']
  data['Urine_summed'] = data[urine_cols].sum(axis=1)
  condition = (data['Urine_summed'] == 0.)
  data[condition]['Urine_summed'] = np.nan
  data = data.drop(columns=urine_cols)

  # Mean per patient (Natrium)
  nat_cols = ['Natrium (bloed)', 'Natrium', 'Natrium Astrup', 'Na (onv.ISE) (bloed)']
  data['Natrium_processed'] = np.nanmean(data[nat_cols].mask(data[nat_cols].eq(0)).values, axis=1)
  condition = (data['Natrium_processed'] == 0.)
  data[condition]['Natrium_processed'] = np.nan
  data = data.drop(columns=nat_cols)

  # Group Mean Blood Pressure
  # If ABP I is available, use that one. Otherwise, use ABP II. If both are not available, set as NaN
  abp_cols = ['Niet invasieve bloeddruk gemiddeld', 'ABP gemiddeld II', 'ABP gemiddeld']
  data['ABP_processed'] = data['ABP gemiddeld']
  condition_1 = (data['ABP_processed'] == np.nan)
  condition_2 = (data['ABP_processed'] == 0.)
  condition = np.logical_or(condition_1, condition_2)
  data[condition]['ABP_processed'] = data[condition]['ABP gemiddeld II']
  condition_1 = (data['ABP_processed'] == np.nan)
  condition_2 = (data['ABP_processed'] == 0.)
  condition = np.logical_or(condition_1, condition_2)
  data[condition]['ABP_processed'] = data[condition]['Niet invasieve bloeddruk gemiddeld']
  condition = (data['ABP_processed'] == 0.)
  data[condition]['ABP_processed'] = np.nan
  data = data.drop(columns=abp_cols)

  # Mean per patient (Kalium)
  kal_cols = ['Kalium (bloed)', 'Kalium Astrup', 'Kalium', 'K (onv.ISE) (bloed)']
  data['Kalium_processed'] = np.nanmean(data[kal_cols].mask(data[kal_cols].eq(0)).values, axis=1)
  condition_1 = (data['Kalium_processed'] == np.nan)
  condition_2 = (data['Kalium_processed'] == 0.)
  condition = np.logical_or(condition_1, condition_2)
  data[condition]['Kalium_processed'] = np.nan
  data = data.drop(columns=kal_cols)

  # Mean per patient (Kreatinine)
  kreat_cols = ['Kreatinine', 'Kreatinine (bloed)', 'KREAT enzym. (bloed)']
  data['Kreatinine_processed'] = np.nanmean(data[kreat_cols].mask(data[kreat_cols].eq(0)).values, axis=1)
  condition_1 = (data['Kreatinine_processed'] == np.nan)
  condition_2 = (data['Kreatinine_processed'] == 0.)
  condition = np.logical_or(condition_1, condition_2)
  data[condition]['Kreatinine_processed'] = np.nan
  data = data.drop(columns=kreat_cols)

  # Mean per patient (Bicarbonate)
  bic_cols = ['HCO3', 'Act.HCO3 (bloed)']
  data['Bicarbonate_processed'] = np.nanmean(data[bic_cols].mask(data[bic_cols].eq(0)).values, axis=1)
  condition_1 = (data['Bicarbonate_processed'] == np.nan)
  condition_2 = (data['Bicarbonate_processed'] == 0.)
  condition = np.logical_or(condition_1, condition_2)
  data[condition]['Bicarbonate_processed'] = np.nan
  data = data.drop(columns=bic_cols)

  # Mean per patient (Chloor)
  cl_cols = ['Chloor (bloed)', 'Chloor Astrup', 'Chloor', 'Cl (onv.ISE) (bloed)']
  data['Chloor_processed'] = np.nanmean(data[cl_cols].mask(data[cl_cols].eq(0)).values, axis=1)
  condition_1 = (data['Chloor_processed'] == np.nan)
  condition_2 = (data['Chloor_processed'] == 0.)
  condition = np.logical_or(condition_1, condition_2)
  data[condition]['Chloor_processed'] = np.nan
  data = data.drop(columns=cl_cols)

  return data

def aggregate_all_cols(data, space, df):

  if space == 'state':

    cols_to_agg = ['time', 'admissionid', 'Natrium_processed', 'ABP_processed', 'Kalium_processed', 'Kreatinine_processed', 'Bicarbonate_processed', 'Chloor_processed']

    #group urine (sum)
    grouped = data.groupby('admissionid', as_index = False).apply(lambda x: aggregate_col(x, 'Urine_summed')).reset_index()['Urine_summed']
    data['Urine'] = list(grouped.head(len(grouped)))
    data = pd.DataFrame(data).reset_index()
    urine_aggr = get_4h_urine(data[['admissionid', 'time', 'Urine']])

    #group other variables (mean)
    data[cols_to_agg] = data[cols_to_agg].bfill()
    df_aggr = get_4h(data[cols_to_agg])

    #extract aki
    aki = get_aki(df[['admissionid','time','aki_stage']])

    #combine both aggregations
    combined = pd.concat([urine_aggr, df_aggr, aki], axis=1)

    return combined

  if space == 'action':

    data = data.reset_index()
    cols_to_agg = ['time', 'admissionid', 'Dobutamine (Dobutrex)',
                   'Adrenaline (Epinefrine)', 'Dopamine (Inotropin)',
                   'Noradrenaline (Norepinefrine)', 'NaCl 0,45%/Glucose 2,5%']
    data[cols_to_agg] = data[cols_to_agg].bfill()
    df_aggr = get_4h(data[cols_to_agg])

    return df_aggr

  else:

    print("ERROR INVALID SPACE TYPE: options for space: state, action")


def interpolate(data_agg):
  #interpolate null values
  return data_agg.interpolate(limit_direction='forward')

def transform_df(data: pd.DataFrame = None,
                 time_col: str = 'time',
                 bins: list = None,
                 bin_labels: list = None,
                 group_cols: list = ['admissionid', 'binn'],
                 agg_func: dict = None):
    """
    Transforms the input data from the AmsterdamUMCdb and return a dataframe with bins assigned to each record based on the time column
    :param data: dataframe with single timestamps as integers, patientid and values
    :param bins: list of bins to divide the timestamps in
    :param bin_labels: list of labels to name the bins with
    :param group_cols: list of column to group by, including the newly created 'binn'
    :param agg_func: dictionary of kwargs passed to the .agg() method
    """
    
    data['binn'] = pd.cut(data[time_col], bins=bins, labels=bin_labels)
    data = data[data[time_col]>=0]
    grouped_data = data.groupby(group_cols).agg(**agg_func).reset_index().sort_values(by=group_cols, ascending=True)
    
    return grouped_data


def transform_daterange(data: pd.DataFrame,
                        time_col: str = 'time',
                        infer_start_time: bool = True,
                        multi_source: bool = False,
                        multi_source_col: str = None,
                        start_time: str = 'start_time',
                        end_time: str = 'end_time',
                        time_unit: str = 'm',
                        value_col: str = 'value',
                        group_col: list = None,
                        fill_method: str = 'backfill',
                        fill_lim: int = 540
                        ):
    """
    Transform interval data with single timestamps to time range, calculate production, resample and backward fill
    :param data: dataframe with id, value and timestamp
    :param time_col: string representing the column name for the time of registration in a single timestamp dataframe
    :param infer_start_time: boolean representing whether the start time should be inferred from the previous record
    :param start_time: string representing the column name with the record start time
    :param end_time: string representing the column name with the record end time
    :param time_unit: interpret the integer timestamp as the given time unit and convert back to this unit at the end
    :param value_col: string representing the column name with the values of the measurements
    :param group_col: list representing the ids of patients and/or products
    :param fill_method: string to represent the method as used in pandas.series.fillna
    :param fill_lim: integer to represent the number of time units to be filled
    """
    
    if group_col is None:
        group_col = ['admissionid'] # PM: defining a list as default will keep alterations when rerunning the function
    
    # convert to datetime and set index to time column
    data[time_col] = pd.to_datetime(data[time_col], unit=time_unit)
    data[start_time] = pd.to_datetime(data[start_time], unit=time_unit)
    
    if infer_start_time:
        # get start time from previous record
        data['start_time'] = data.groupby(group_col)[time_col].shift(1)
        start_time = 'start_time'
        end_time = time_col
    else:
        # transform other columns to datetime if they exist and are still integer type, otherwise leave as is
        for t_col in [start_time, end_time]:
            if t_col in data:
                if pd.api.types.is_integer_dtype(data[start_time]):
                    data[t_col] = pd.to_datetime(data[t_col], unit=time_unit)
    
    # get time difference from start and end times   
    data['time_diff'] = (data[end_time] - data[start_time]) / np.timedelta64(1, time_unit)

    if multi_source:
        if multi_source_col is None:
            # give each record a unique id to group by in order to handle simultaneous records
            data['administrationid'] = range(data.shape[0])
            group_col += ['administrationid']
        else:
            group_col += [multi_source_col]
    
    # get production per time unit
    data['prod'] = data[value_col] / data['time_diff']
    
    # if start and end time are registered in the same record, create a new record with the other value as index
    if infer_start_time:
        data_merged = data.copy()
        data_merged.index = data_merged[time_col]
    else:
        data_end = data.copy()
        data.index = data.start_time
        data_end.index = data_end.stop_time
        data_merged = pd.concat([data, data_end]).sort_values(group_col + [start_time, end_time])
    
    # resample for each unit
    res = data_merged[group_col + ['prod', start_time, end_time]].groupby(group_col).resample('1T').mean().drop(group_col, axis=1, errors='ignore').reset_index().copy()
    
    # fill missing values
    res['prod_fill'] = res.groupby(group_col)['prod'].fillna(method=fill_method, limit=fill_lim) #9 hours
    
    # reset time column to integer values
    transform_time_col = {'s': 1, 'm': 60, 'h': 3600, 'd': 86_400}
    if infer_start_time:
        res[time_col] = (res[time_col].view(np.int64) / (transform_time_col.get(time_unit) * 1_000_000_000)).astype(int)
    else:
        if multi_source:
            level_col = 'level_2'
        else:
            level_col = 'level_1'
        res[time_col] = (res[level_col].view(np.int64) / (transform_time_col.get(time_unit) * 1_000_000_000)).astype(int)
    
    return res
    

def get_demograhics(data, df, admissionid):
  # Get gender
  gender = df['gender'][df['admissionid'] == admissionid].head(1).item()
  if gender == 'Man':
    gender = 0
  elif gender == 'Vrouw':
    gender = 1
  else:
    gender = 2

  # Get Age
  age = df['agegroup'][df['admissionid'] == admissionid].head(1).item()

  # Get Weight
  weight = df['weightgroup'][df['admissionid'] == admissionid].head(1).item()

  # Get Height
  height = df['heightgroup'][df['admissionid'] == admissionid].head(1).item()

  # Get PatientID
  patientID = df['patientid'][df['admissionid'] == admissionid].head(1).item()

  # Get Date of Death
  death = df['dateofdeath'][df['admissionid'] == admissionid].head(1).item()
  if (death == np.nan) or (pd.to_datetime(death, unit='ms', origin = 'unix') > data['time'][data['admissionid'] == admissionid].max()):
    death = 0
  else:
    death = 1

  return gender, age, weight, height, patientID, death


def complete_state(data, df):
  data = data.sort_values(by=['admissionid', 'time']).reset_index()
  genders = []
  ages = []
  weights = []
  heights = []
  patientids = []
  deaths = []

  # Get demographics for each admission id
  for x in data['admissionid']:
    gender, age, weight, height, patientID, death = get_demograhics(data, df, x)
    genders.append(gender)
    ages.append(age)
    weights.append(weight)
    heights.append(height)
    patientids.append(patientID)
    deaths.append(death)

  data['gender'] = genders
  data['agegroup'] = ages
  data['weightgroup'] = weights
  data['heightgroup'] = heights
  data['patientid'] = patientids
  data['death'] = deaths

  # Transform categorical variables into numerical
  categories = {"agegroup": {"18-39": 1, "40-49": 2, "50-59": 3, "60-69":4, "70-79":5, "80+":6}, 
          "weightgroup": {'59-': 1,'60-69': 2, '80-89': 3, '70-79': 4, '90-99': 5, '100-109': 6, '110+': 7}, 
          "heightgroup": {'159-': 1, '160-169': 2, '170-179': 3, '180-189': 4, '190+': 5}}
  data = data.replace(categories)
  
  return data


def process_statespace(data):
  data['time'] = pd.to_datetime(data['time'], unit='m', origin = 'unix')
  grouped = to_cols(data)
  grouped = remove_outliers(grouped)
  print(grouped.isnull().sum())
  data_sum = process_variables(grouped)
  print(data_sum.isnull().sum())
  data_agg = aggregate_all_cols(data_sum, space="state", df=data)
  print(data_agg.isnull().sum())
  data_agg = complete_state(data_agg, data)
  #data_filled = interpolate(data_agg)
  return data_agg.reset_index()

  
def process_actionspace(data):
  # data['time'] = pd.to_datetime(data['stop'] - data['start'], unit='ms')
  # data = data.drop(columns = ['start', 'stop'])
  # data['time'] = pd.to_datetime(data['time'], unit='ms', origin = 'unix')
  # grouped = to_cols_action(data)
  # #grouped = remove_outliers_action(grouped)
  # data_agg = aggregate_all_cols(grouped, space="action")
  # #data_filled = interpolate(data_agg)

  # Extract Fluids and Vasopressors
  fluids = data.loc[~data['itemid'].isin([7179,7178,6818,7229])]
  vasop = data.loc[data['itemid'].isin([7179,7178,6818,7229])]
  
  # Perform Aggregation
  df_aggr_fluids = transform_df(data=transform_daterange(fluids[['admissionid',
                                                                 'fluidin',
                                                                 'start_time',
                                                                 'stop_time']].sort_values(['admissionid', 'start_time']).copy(),
                                                     time_col = 'stop_time',
                                                     infer_start_time=False,
                                                     multi_source=False,
                                                     start_time = 'start_time',
                                                     end_time = 'stop_time',
                                                     value_col = 'fluidin',
                                                     group_col = ['admissionid']),
                                 time_col='stop_time',
                                 bins=range(0, 1216*60, 4*60),
                                 bin_labels=range(0, 1212*60, 4*60),
                                 group_cols=['admissionid', 'binn'],
                                 agg_func={'fluid_sum': ('prod_fill', 'sum')})
  
  df_aggr_vasops = transform_df(data=transform_daterange(vasop[['admissionid',
                                                                 'fluidin',
                                                                 'start_time',
                                                                 'stop_time']].sort_values(['admissionid', 'start_time']).copy(),
                                                     time_col = 'stop_time',
                                                     infer_start_time=False,
                                                     multi_source=False,
                                                     start_time = 'start_time',
                                                     end_time = 'stop_time',
                                                     value_col = 'fluidin',
                                                     group_col = ['admissionid']),
                                 time_col='stop_time',
                                 bins=range(0, 1216*60, 4*60),
                                 bin_labels=range(0, 1212*60, 4*60),
                                 group_cols=['admissionid', 'binn'],
                                 agg_func={'vasops_sum': ('prod_fill', 'sum')})
    
  df_aggr_fluids['fluid_sum'] = df_aggr_fluids['fluid_sum'].fillna(0)
  df_aggr_vasops['vasops_sum'] = df_aggr_vasops['vasops_sum'].fillna(0)

  df_aggr = pd.merge(df_aggr_fluids, df_aggr_vasops, how='outer', on=['admissionid', 'binn'])
  df_aggr['vasops_sum'] = df_aggr['vasops_sum'].fillna(0)

  df_aggr['time'] = pd.to_datetime(df_aggr['binn'].astype(float), unit='m', origin = 'unix')

  return df_aggr

## 3. Import Dataframes and Perform Aggregation

In [46]:
pd.set_option('display.max_rows', 100)

#some patients only get fluids, no vasopressor, is it possible?
#some patients do not receive either for quite some time, is it possible?# 


#action[action['admissionid'] == 23488]
action[action.admissionid == 23545]
#action.tail(100)

        admissionid   binn     fluid_sum  vasops_sum                time
859005        23545      0   1008.083333         NaN 1970-01-01 00:00:00
859006        23545    240   9223.109244         NaN 1970-01-01 04:00:00
859007        23545    480  24000.000000         NaN 1970-01-01 08:00:00
859008        23545    720   3428.174207         NaN 1970-01-01 12:00:00
859009        23545    960   3565.988316         NaN 1970-01-01 16:00:00
...             ...    ...           ...         ...                 ...
859303        23545  71520      0.000000         NaN 1970-02-19 16:00:00
859304        23545  71760      0.000000         NaN 1970-02-19 20:00:00
859305        23545  72000      0.000000         NaN 1970-02-20 00:00:00
859306        23545  72240      0.000000         NaN 1970-02-20 04:00:00
859307        23545  72480      0.000000         NaN 1970-02-20 08:00:00

[303 rows x 5 columns]

In [51]:
statespace = pd.read_csv('final_state_space.csv')
actionspace = pd.read_csv('final_action_space.csv')

state = process_statespace(statespace)
action = process_actionspace(actionspace)

item
admissionid                                0
time                                       0
ABP gemiddeld                          55772
ABP gemiddeld II                      209452
Act.HCO3 (bloed)                      157704
Chloor                                209328
Chloor (bloed)                        190565
Chloor Astrup                         209206
Cl (onv.ISE) (bloed)                  188981
HCO3                                  206967
K (onv.ISE) (bloed)                   168018
KREAT enzym. (bloed)                  209543
Kalium                                208723
Kalium (bloed)                        193923
Kalium Astrup                         207543
Kreatinine                            208880
Kreatinine (bloed)                    196228
Na (onv.ISE) (bloed)                  169373
Natrium                               208725
Natrium (bloed)                       193561
Natrium Astrup                        207570
Nefrodrain li Uit                     209072
Nefrodrain re Uit                     208841
Niet invasieve bloeddruk gemiddeld    202047
UrineCAD                               94934
UrineIncontinentie                    209221
UrineSplint Li                        209484
UrineSplint Re                        209440
UrineSpontaan                         208864
UrineSupraPubis                       207970
UrineUP                               208885
dtype: int64
item
admissionid                   0
time                          0
Nefrodrain li Uit        209072
Nefrodrain re Uit        208841
Urine_summed                  0
Natrium_processed        151876
ABP_processed             55772
Kalium_processed         150872
Kreatinine_processed     195587
Bicarbonate_processed    155148
Chloor_processed         169531
dtype: int64
Urine                     0
Natrium_processed         0
ABP_processed             0
Kalium_processed          0
Kreatinine_processed      4
Bicarbonate_processed     0
Chloor_processed         15
aki_stage                 0
dtype: int64

In [52]:
#merge datasets --> left merge on actionspace, as states without actions are not useful for our model
aggregated = action.merge(state, on=["admissionid", "time"], how="left")

In [54]:
print(len(action))
print(len(state))
print(len(aggregated))

859308
43894
859308

In [56]:
state.admissionid.nunique()

3135

In [57]:
action.admissionid.nunique()

2836

In [58]:
#all the null values are patients that are not in the state space and only in the action space --> we cannot use them so they are dropped
print('Dropped values:', aggregated.isnull().sum())
aggregated = aggregated.dropna()

Dropped values: admissionid                   0
binn                          0
fluid_sum                     0
vasops_sum                    0
time                          0
index                    820548
Urine                    820548
Natrium_processed        820548
ABP_processed            820548
Kalium_processed         820548
Kreatinine_processed     820552
Bicarbonate_processed    820548
Chloor_processed         820563
aki_stage                820548
gender                   820548
agegroup                 820548
weightgroup              822257
heightgroup              823596
patientid                820548
death                    820548
dtype: int64

In [59]:
aggregated.admissionid.nunique()

2582

In [61]:
aggregated.head()

,admissionid,binn,fluid_sum,vasops_sum,time,index,Urine,Natrium_processed,ABP_processed,Kalium_processed,Kreatinine_processed,Bicarbonate_processed,Chloor_processed,aki_stage,gender,agegroup,weightgroup,heightgroup,patientid,death
0,11,0,1564.114410,127.987797,1970-01-01 00:00:00,0.0,0.0,134.6,64.00,4.120,342.2,17.779999,107.20,0.0,0.0,4.0,3.0,4.0,11.0,0.0
1,11,240,1081.298935,189.248434,1970-01-01 04:00:00,1.0,0.0,134.8,72.40,4.600,337.0,14.580000,108.40,0.0,0.0,4.0,3.0,4.0,11.0,0.0
2,11,480,564.661661,198.434211,1970-01-01 08:00:00,2.0,0.0,136.6,71.20,4.560,316.0,17.200000,107.00,0.0,0.0,4.0,3.0,4.0,11.0,0.0
3,11,720,4650.132862,155.536134,1970-01-01 12:00:00,3.0,32.0,133.0,66.75,4.775,302.0,15.700000,108.25,0.0,0.0,4.0,3.0,4.0,11.0,0.0
4,11,960,1158.447309,160.000000,1970-01-01 16:00:00,4.0,20.0,135.2,63.80,4.580,302.0,18.820001,105.60,0.0,0.0,4.0,3.0,4.0,11.0,0.0

In [62]:
aggregated.head(100)

,admissionid,binn,fluid_sum,vasops_sum,time,index,Urine,Natrium_processed,ABP_processed,Kalium_processed,Kreatinine_processed,Bicarbonate_processed,Chloor_processed,aki_stage,gender,agegroup,weightgroup,heightgroup,patientid,death
0,11,0,1564.114410,127.987797,1970-01-01 00:00:00,0.0,0.0,134.600000,64.000000,4.120000,342.200000,17.779999,107.200000,0.0,0.0,4.0,3.0,4.0,11.0,0.0
1,11,240,1081.298935,189.248434,1970-01-01 04:00:00,1.0,0.0,134.800000,72.400000,4.600000,337.000000,14.580000,108.400000,0.0,0.0,4.0,3.0,4.0,11.0,0.0
2,11,480,564.661661,198.434211,1970-01-01 08:00:00,2.0,0.0,136.600000,71.200000,4.560000,316.000000,17.200000,107.000000,0.0,0.0,4.0,3.0,4.0,11.0,0.0
3,11,720,4650.132862,155.536134,1970-01-01 12:00:00,3.0,32.0,133.000000,66.750000,4.775000,302.000000,15.700000,108.250000,0.0,0.0,4.0,3.0,4.0,11.0,0.0
4,11,960,1158.447309,160.000000,1970-01-01 16:00:00,4.0,20.0,135.200000,63.800000,4.580000,302.000000,18.820001,105.600000,0.0,0.0,4.0,3.0,4.0,11.0,0.0
5,11,1200,563.910927,160.000000,1970-01-01 20:00:00,5.0,5.0,134.750000,61.500000,4.575000,286.000000,20.250000,106.500000,0.0,0.0,4.0,3.0,4.0,11.0,0.0
6,11,1440,6264.947415,156.162600,1970-01-02 00:00:00,6.0,0.0,134.000000,62.714286,4.485714,278.714286,17.657143,108.428571,0.0,0.0,4.0,3.0,4.0,11.0,0.0
7,11,1680,1752.301233,169.029761,1970-01-02 04:00:00,7.0,0.0,134.166667,73.500000,4.316667,269.000000,16.066667,109.000000,0.0,0.0,4.0,3.0,4.0,11.0,0.0
8,11,1920,1660.789216,161.846528,1970-01-02 08:00:00,8.0,0.0,136.666667,62.000000,5.033333,159.833333,13.816667,110.000000,0.0,0.0,4.0,3.0,4.0,11.0,0.0
606,25,0,463.012936,0.033333,1970-01-01 00:00:00,27.0,150.0,125.400000,65.600000,5.680000,222.800000,25.700000,89.400000,0.0,1.0,5.0,3.0,2.0,24.0,1.0
607,25,240,2534.353367,0.000000,1970-01-01 04:00:00,28.0,220.0,134.000000,79.000000,4.800000,200.000000,27.633333,93.000000,0.0,1.0,5.0,3.0,2.0,24.0,1.0
608,25,480,800.498415,0.000000,1970-01-01 08:00:00,29.0,320.0,134.000000,86.500000,5.000000,200.000000,26.900000,93.000000,0.0,1.0,5.0,3.0,2.0,24.0,1.0
609,25,720,3414.232245,0.000000,1970-01-01 12:00:00,30.0,330.0,139.000000,79.500000,4.900000,165.000000,26.400000,104.000000,0.0,1.0,5.0,3.0,2.0,24.0,1.0
610,25,960,952.751880,4.228378,1970-01-01 16:00:00,31.0,420.0,139.000000,72.000000,4.900000,165.000000,26.400000,104.000000,0.0,1.0,5.0,3.0,2.0,24.0,1.0
611,25,1200,874.333333,8.054054,1970-01-01 20:00:00,32.0,320.0,139.000000,74.000000,4.900000,165.000000,26.400000,104.000000,1.0,1.0,5.0,3.0,2.0,24.0,1.0
612,25,1440,1062.060738,8.326011,1970-01-02 00:00:00,33.0,255.0,142.333333,69.666667,4.700000,155.000000,26.800000,104.000000,1.0,1.0,5.0,3.0,2.0,24.0,1.0
613,25,1680,2454.333333,9.330875,1970-01-02 04:00:00,34.0,300.0,144.000000,68.500000,4.600000,150.000000,27.000000,104.000000,0.0,1.0,5.0,3.0,2.0,24.0,1.0
614,25,1920,1699.289857,9.341499,1970-01-02 08:00:00,35.0,240.0,144.000000,73.000000,4.600000,150.000000,27.000000,104.000000,0.0,1.0,5.0,3.0,2.0,24.0,1.0
615,25,2160,2511.502967,10.538936,1970-01-02 12:00:00,36.0,180.0,150.000000,70.000000,4.100000,140.000000,22.900000,108.000000,0.0,1.0,5.0,3.0,2.0,24.0,1.0
616,25,2400,3381.406438,11.586699,1970-01-02 16:00:00,37.0,260.0,150.000000,73.000000,4.100000,140.000000,22.900000,108.000000,0.0,1.0,5.0,3.0,2.0,24.0,1.0
617,25,2640,1043.686581,15.007769,1970-01-02 20:00:00,38.0,170.0,150.000000,67.000000,4.100000,140.000000,22.900000,108.000000,0.0,1.0,5.0,3.0,2.0,24.0,1.0
618,25,2880,758.209819,17.923855,1970-01-03 00:00:00,39.0,120.0,150.000000,60.500000,4.100000,140.000000,22.900000,108.000000,0.0,1.0,5.0,3.0,2.0,24.0,1.0
619,25,3120,620.066523,25.995247,1970-01-03 04:00:00,40.0,190.0,150.000000,64.000000,4.100000,140.000000,22.900000,108.000000,0.0,1.0,5.0,3.0,2.0,24.0,1.0
620,25,3360,7331.939160,22.787333,1970-01-03 08:00:00,41.0,160.0,150.000000,68.500000,4.100000,140.000000,24.400000,108.000000,0.0,1.0,5.0,3.0,2.0,24.0,1.0
621,25,3600,1227.548830,12.708701,1970-01-03 12:00:00,42.0,140.0,140.000000,71.500000,3.600000,84.000000,27.900000,108.000000,0.0,1.0,5.0,3.0,2.0,24.0,1.0
622,25,3840,340.546330,9.688494,1970-01-03 16:00:00,43.0,80.0,140.000000,70.000000,3.600000,84.000000,26.450000,108.000000,0.0,1.0,5.0,3.0,2.0,24.0,1.0
909,44,0,2219.703259,0.000000,1970-01-01 00:00:00,44.0,770.0,143.428571,97.285714,3.671429,84.000000,28.214286,109.714286,2.0,1.0,4.0,4.0,1.0,41.0,0.0
910,44,240,5266.425605,0.000000,1970-01-01 04:00:00,45.0,1310.0,147.400000,122.400000,3.700000,84.000000,32.299999,110.400000,3.0,1.0,4.0,4.0,1.0,41.0,0.0
911,44,480,12312.219527,0.000000,1970-01-01 08:00:00,46.0,275.0,145.500000,115.250000,4.175000,84.000000,31.874999,112.750000,2.0,1.0,4.0,4.0,1.0,41.0,0.0
912,44,720,6100.772333,0.000000,1970-01-01 12:00:00,47.0,335.0,146.600000,113.800000,4.360000,83.200000,31.160000,113.400000,0.0,1.0,4.0,4.0,1.0,41.0,0.0
913,44,960,28876.156157,0.000000,1970-01-01 16:00:00,48.0,330.0,145.000000,119.500000,4.200000,80.000000,32.000000,111.000000,2.0,1.0,4.0,4.0,1.0,41.0,0.0
914,44,1200,113.501452,0.000000,1970-01-01 20:00:00,49.0,110.0,137.000000,123.000000,4.000000,80.000000,18.600000,114.000000,1.0,1.0,4.0,4.0,1.0,41.0,0.0
1212,47,0,728.109524,26.712079,1970-01-01 00:00:00,50.0,30.0,137.833333,82.333333,4.383333,88.666667,17.483333,114.333333,2.0,1.0,4.0,4.0,2.0,43.0,0.0
1213,47,240,26457.293459,58.285763,1970-01-01 04:00:00,51.0,20.0,136.800000,78.600000,4.760000,106.000000,16.480001,114.000000,0.0,1.0,4.0,4.0,2.0,43.0,0.0
1214,47,480,1598.186488,60.008563,1970-01-01 08:00:00,52.0,25.0,137.166667,75.666667,4.516667,86.000000,16.383333,113.000000,0.0,1.0,4.0,4.0,2.0,43.0,0.0
1215,47,720,2712.467192,50.002657,1970-01-01 12:00:00,53.0,40.0,138.000000,72.000000,4.300000,76.000000,16.500000,114.000000,0.0,1.0,4.0,4.0,2.0,43.0,0.0
1216,47,960,10318.916667,39.738889,1970-01-01 16:00:00,54.0,250.0,137.000000,74.800000,4.320000,76.000000,15.640000,112.800000,2.0,1.0,4.0,4.0,2.0,43.0,0.0
1217,47,1200,4254.535598,27.200056,1970-01-01 20:00:00,55.0,80.0,136.200000,77.600000,4.040000,76.000000,16.000000,110.800000,0.0,1.0,4.0,4.0,2.0,43.0,0.0
1218,47,1440,145.226876,16.081554,1970-01-02 00:00:00,56.0,125.0,137.000000,69.800000,3.680000,76.000000,18.300000,110.200000,0.0,1.0,4.0,4.0,2.0,43.0,0.0
1219,47,1680,182.068803,12.481367,1970-01-02 04:00:00,57.0,105.0,136.333333,74.833333,3.550000,76.000000,20.950001,108.166667,2.0,1.0,4.0,4.0,2.0,43.0,0.0
1220,47,1920,15.900438,0.000000,1970-01-02 08:00:00,58.0,125.0,137.000000,75.000000,3.300000,51.000000,21.799999,107.000000,1.0,1.0,4.0,4.0,2.0,43.0,0.0
1221,47,2160,22.402157,0.000000,1970-01-02 12:00:00,59.0,160.0,136.400000,72.600000,3.360000,51.000000,21.920000,107.000000,0.0,1.0,4.0,4.0,2.0,43.0,0.0
1222,47,2400,0.166667,0.000000,1970-01-02 16:00:00,60.0,120.0,136.833333,78.500000,3.650000,51.000000,22.399999,107.666667,0.0,1.0,4.0,4.0,2.0,43.0,0.0
1223,47,2640,40.000000,0.000000,1970-01-02 20:00:00,61.0,140.0,137.000000,80.400000,3.740000,51.000000,23.240001,107.000000,0.0,1.0,4.0,4.0,2.0,43.0,0.0
1224,47,2880,40.000000,0.000000,1970-01-03 00:00:00,62.0,135.0,137.000000,77.000000,3.950000,51.000000,23.550000,107.000000,1.0,1.0,4.0,4.0,2.0,43.0,0.0
1225,47,3120,10.000000,0.000000,1970-01-03 04:00:00,63.0,90.0,137.000000,81.250000,4.000000,51.000000,23.700001,107.000000,1.0,1.0,4.0,4.0,2.0,43.0,0.0
1226,47,3360,0.000000,0.000000,1970-01-03 08:00:00,64.0,185.0,137.800000,84.200000,4.000000,73.000000,23.860000,106.200000,2.0,1.0,4.0,4.0,2.0,43.0,0.0
1227,47,3600,0.000000,0.000000,1970-01-03 12:00:00,65.0,95.0,138.000000,75.200000,4.060000,73.000000,23.360001,106.600000,1.0,1.0,4.0,4.0,2.0,43.0,0.0
1228,47,3840,0.000000,0.000000,1970-01-03 16:00:00,66.0,90.0,136.666667,77.333333,3.950000,73.000000,22.683333,107.333333,2.0,1.0,4.0,4.0,2.0,43.0,0.0
1229,47,4080,0.000000,0.000000,1970-01-03 20:00:00,67.0,140.0,134.000000,75.250000,4.000000,73.000000,17.299999,113.000000,0.0,1.0,4.0,4.0,2.0,43.0,0.0
1515,50,0,2010.433819,11.540400,1970-01-01 00:00:00,68.0,180.0,133.750000,73.625000,5.037500,77.000000,18.175000,112.500000,1.0,1.0,3.0,3.0,2.0,46.0,0.0
1516,50,240,2542.108875,22.923405,1970-01-01 04:00:00,69.0,120.0,136.800000,72.800000,4.820000,82.400000,16.980000,111.000000,0.0,1.0,3.0,3.0,2.0,46.0,0.0
1517,50,480,1108.034297,24.000000,1970-01-01 08:00:00,70.0,165.0,140.800000,74.600000,4.280000,85.600000,16.959999,113.200000,0.0,1.0,3.0,3.0,2.0,46.0,0.0
1518,50,720,7641.097094,24.000000,1970-01-01 12:00:00,71.0,120.0,133.000000,78.000000,4.366667,82.000000,18.133334,115.333333,0.0,1.0,3.0,3.0,2.0,46.0,0.0
1519,50,960,155.039083,24.000000,1970-01-01 16:00:00,72.0,160.0,134.833333,71.000000,4.400000,80.000000,18.750000,112.500000,0.0,1.0,3.0,3.0,2.0,46.0,0.0
1520,50,1200,1757.806430,24.000000,1970-01-01 20:00:00,73.0,190.0,133.000000,70.000000,4.200000,76.000000,18.475001,112.250000,0.0,1.0,3.0,3.0,2.0,46.0,0.0
1521,50,1440,8145.766616,24.000000,1970-01-02 00:00:00,74.0,180.0,134.750000,79.000000,4.025000,76.000000,18.725000,112.500000,1.0,1.0,3.0,3.0,2.0,46.0,0.0
1522,50,1680,1789.647257,27.485714,1970-01-02 04:00:00,75.0,119.0,135.750000,69.000000,3.950000,75.750000,19.250000,113.500000,0.0,1.0,3.0,3.0,2.0,46.0,0.0
1523,50,1920,364.648242,31.203430,1970-01-02 08:00:00,76.0,210.0,134.000000,74.250000,3.750000,75.000000,20.050000,113.000000,0.0,1.0,3.0,3.0,2.0,46.0,0.0
1524,50,2160,43.840442,31.971831,1970-01-02 12:00:00,77.0,200.0,134.800000,75.200000,4.220000,76.200000,19.840000,113.600000,0.0,1.0,3.0,3.0,2.0,46.0,0.0
1525,50,2400,933.380979,31.036117,1970-01-02 16:00:00,78.0,290.0,133.750000,75.250000,4.375000,78.000000,19.175000,112.500000,1.0,1.0,3.0,3.0,2.0,46.0,0.0
1526,50,2640,689.092158,28.242187,1970-01-02 20:00:00,79.0,280.0,133.750000,75.500000,4.150000,78.000000,18.925000,113.000000,1.0,1.0,3.0,3.0,2.0,46.0,0.0
1527,50,2880,1385.937105,27.170673,1970-01-03 00:00:00,80.0,420.0,135.000000,74.750000,4.450000,78.000000,19.950001,116.500000,0.0,1.0,3.0,3.0,2.0,46.0,0.0
1528,50,3120,919.531171,26.793577,1970-01-03 04:00:00,81.0,160.0,136.750000,76.750000,4.550000,105.750000,18.399999,115.000000,0.0,1.0,3.0,3.0,2.0,46.0,0.0
1529,50,3360,179.852331,23.026707,1970-01-03 08:00:00,82.0,200.0,135.500000,84.750000,4.350000,189.000000,18.899999,114.000000,0.0,1.0,3.0,3.0,2.0,46.0,0.0
1530,50,3600,70.796781,19.981735,1970-01-03 12:00:00,83.0,130.0,136.000000,81.750000,4.500000,189.000000,20.475000,113.500000,0.0,1.0,3.0,3.0,2.0,46.0,0.0
1531,50,3840,1147.781942,21.516970,1970-01-03 16:00:00,84.0,170.0,133.750000,75.750000,4.575000,189.000000,19.624999,113.250000,1.0,1.0,3.0,3.0,2.0,46.0,0.0
1532,50,4080,1487.882340,22.078693,1970-01-03 20:00:00,85.0,90.0,135.600000,70.600000,3.980000,189.000000,18.460000,112.000000,0.0,1.0,3.0,3.0,2.0,46.0,0.0
1818,58,0,4797.366699,7.138465,1970-01-01 00:00:00,86.0,145.0,139.000000,64.333333,3.511111,187.333333,16.277778,110.777778,0.0,1.0,3.0,1.0,3.0,54.0,0.0
1819,58,240,3230.004508,15.705150,1970-01-01 04:00:00,87.0,345.0,138.000000,75.142857,3.771429,185.714286,16.142857,111.857143,0.0,1.0,3.0,1.0,3.0,54.0,0.0
1820,58,480,1365.078139,4.215865,1970-01-01 08:00:00,88.0,185.0,138.600000,73.600000,3.740000,188.000000,16.700000,112.400000,0.0,1.0,3.0,1.0,3.0,54.0,0.0
1821,58,720,6038.961835,3.249505,1970-01-01 12:00:00,89.0,200.0,139.000000,79.750000,3.937500,188.750000,17.350000,111.750000,0.0,1.0,3.0,1.0,3.0,54.0,0.0
1822,58,960,127.470910,0.094828,1970-01-01 16:00:00,90.0,185.0,139.000000,71.500000,3.916667,191.000000,17.366667,112.000000,0.0,1.0,3.0,1.0,3.0,54.0,0.0
1823,58,1200,11981.092191,0.000000,1970-01-01 20:00:00,91.0,90.0,139.250000,73.750000,3.800000,191.000000,17.900000,112.000000,0.0,1.0,3.0,1.0,3.0,54.0,0.0
1824,58,1440,7653.169470,0.000000,1970-01-02 00:00:00,92.0,305.0,140.000000,68.333333,3.783333,191.000000,17.650000,112.166667,0.0,1.0,3.0,1.0,3.0,54.0,0.0
1825,58,1680,10453.333333,0.000000,1970-01-02 04:00:00,93.0,120.0,140.000000,66.200000,3.700000,191.000000,18.460000,112.800000,0.0,1.0,3.0,1.0,3.0,54.0,0.0
1826,58,1920,3219.422209,0.000000,1970-01-02 08:00:00,94.0,330.0,140.400000,67.600000,3.700000,191.000000,18.179999,112.400000,0.0,1.0,3.0,1.0,3.0,54.0,0.0
1827,58,2160,7390.843853,0.000000,1970-01-02 12:00:00,95.0,285.0,141.000000,73.600000,3.640000,182.200000,18.420000,113.000000,0.0,1.0,3.0,1.0,3.0,54.0,0.0
1828,58,2400,4591.835221,0.000000,1970-01-02 16:00:00,96.0,230.0,141.000000,77.000000,3.400000,169.000000,20.100000,113.000000,0.0,1.0,3.0,1.0,3.0,54.0,0.0
1829,58,2640,8516.666667,0.000000,1970-01-02 20:00:00,97.0,250.0,141.000000,66.666667,3.400000,169.000000,20.100000,113.000000,0.0,1.0,3.0,1.0,3.0,54.0,0.0
1830,58,2880,2163.655445,0.000000,1970-01-03 00:00:00,98.0,255.0,141.000000,66.500000,3.400000,169.000000,19.200001,113.000000,0.0,1.0,3.0,1.0,3.0,54.0,0.0
1831,58,3120,8914.000000,0.000000,1970-01-03 04:00:00,99.0,275.0,141.333333,64.666667,3.400000,169.000000,19.433334,113.333333,0.0,1.0,3.0,1.0,3.0,54.0,0.0
1832,58,3360,2697.016407,0.000000,1970-01-03 08:00:00,100.0,300.0,142.000000,64.000000,3.400000,169.000000,19.850000,113.000000,0.0,1.0,3.0,1.0,3.0,54.0,0.0
1833,58,3600,13046.518428,0.000000,1970-01-03 12:00:00,101.0,325.0,144.000000,67.000000,3.400000,169.000000,19.700001,112.000000,0.0,1.0,3.0,1.0,3.0,54.0,0.0
1834,58,3840,7320.806648,0.000000,1970-01-03 16:00:00,102.0,375.0,131.000000,77.500000,4.000000,76.000000,17.299999,112.000000,0.0,1.0,3.0,1.0,3.0,54.0,0.0
1835,58,4080,19555.187702,0.000000,1970-01-03 20:00:00,103.0,350.0,131.000000,74.500000,4.000000,76.000000,17.299999,112.000000,0.0,1.0,3.0,1.0,3.0,54.0,0.0
2121,66,0,6790.726459,18.312817,1970-01-01 00:00:00,105.0,475.0,134.000000,72.200000,3.460000,76.600000,17.799999,112.400000,0.0,1.0,4.0,1.0,2.0,61.0,0.0
2122,66,240,953.296898,23.765766,1970-01-01 04:00:00,106.0,445.0,134.714286,70.142857,3.628571,81.285714,17.571428,114.000000,0.0,1.0,4.0,1.0,2.0,61.0,0.0
2123,66,480,1119.450248,22.224242,1970-01-01 08:00:00,107.0,580.0,135.666667,66.666667,4.233333,83.000000,16.666667,116.333333,0.0,1.0,4.0,1.0,2.0,61.0,0.0
2124,66,720,5157.988852,8.830165,1970-01-01 12:00:00,108.0,400.0,135.250000,78.250000,4.525000,83.000000,16.774999,115.500000,0.0,1.0,4.0,1.0,2.0,61.0,0.0
2125,66,960,1581.650560,6.176343,1970-01-01 16:00:00,109.0,270.0,137.000000,81.000000,4.500000,83.000000,16.550000,116.500000,0.0,1.0,4.0,1.0,2.0,61.0,0.0
2126,66,1200,21537.492484,0.137931,1970-01-01 20:00:00,110.0,320.0,137.000000,79.750000,4.100000,83.000000,16.850001,116.000000,0.0,1.0,4.0,1.0,2.0,61.0,0.0
2127,66,1440,7345.993221,0.000000,1970-01-02 00:00:00,111.0,270.0,136.250000,75.750000,3.600000,83.000000,17.825000,115.500000,0.0,1.0,4.0,1.0,2.0,61.0,0.0
2128,66,1680,8419.709790,0.000000,1970-01-02 04:00:00,112.0,315.0,136.000000,84.000000,3.400000,83.000000,18.600000,116.000000,0.0,1.0,4.0,1.0,2.0,61.0,0.0
2129,66,1920,1682.455234,0.000000,1970-01-02 08:00:00,113.0,420.0,137.400000,81.000000,3.900000,78.200000,19.200001,116.400000,0.0,1.0,4.0,1.0,2.0,61.0,0.0
2130,66,2160,5144.021775,0.000000,1970-01-02 12:00:00,114.0,440.0,138.250000,87.750000,4.275000,77.000000,19.350001,117.500000,1.0,1.0,4.0,1.0,2.0,61.0,0.0
2131,66,2400,161.668190,0.000000,1970-01-02 16:00:00,115.0,450.0,137.000000,95.250000,4.100000,81.000000,16.400000,118.000000,0.0,1.0,4.0,1.0,2.0,61.0,0.0
2132,66,2640,12895.104746,0.000000,1970-01-02 20:00:00,116.0,1130.0,137.000000,84.250000,4.100000,81.000000,18.200001,118.000000,0.0,1.0,4.0,1.0,2.0,61.0,0.0
2133,66,2880,6210.855281,0.000000,1970-01-03 00:00:00,117.0,670.0,140.000000,80.500000,4.300000,81.000000,19.000000,113.000000,0.0,1.0,4.0,1.0,2.0,61.0,0.0
2134,66,3120,8868.749554,11.900000,1970-01-03 04:00:00,118.0,430.0,138.000000,98.250000,4.300000,81.000000,19.700001,116.000000,0.0,1.0,4.0,1.0,2.0,61.0,0.0

## 4. Save Aggregated Dataframe on Drive

In [ ]:
aggregated.to_csv('aggregated.csv')

## 5. Plot Statistics

In [ ]:
# Plot some stats, df with 1 row per patient for demographic stats
stats = state.drop_duplicates(subset=['admissionid'], keep='first')